//font-colors:
$primary : #c69c6c;
$secondary : #212121;
$sky-blue: #12a7ca;
$white : #fff;
$black : #000;
$p-text: #333;

//text-transform
$capital : capitalize;
$upper : uppercase;

//font-weight
$regular : 400;
$medium :  600;
$bold : 700;
$extra-bold : 900;

//break-points
$pc : 1024px;
$ipad : 995px;
$phone : 768px;
$iphone : 540px;
$small-iphone : 320px;